body {
    margin: 0;
    padding: 50px 0px 0px 0px;
    z-index: 0;
    font-family: 'DM Sans', sans-serif;
    color: #868282;
    font-size: 1.25rem;
}

.navbar {
    background-color: #3996D2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    padding: .5rem 1rem;
    justify-content: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    display: flex;
    align-items: center;
    
}

.container-navbar {
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

nav div div a {
    color: floralwhite;
    font-weight: 500;
    margin: 0px 15px 0px 15px;
}

nav div div a:hover {
    opacity: 50%;
}

nav div div a i {
    color: floralwhite;
}

.logo {
    width: 45px;
    height: 45px;
}

.two-col {
    width: 100%;
    padding: 3rem 0px 3rem 0px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5rem;
}

.personal-info {
    padding: 2.5rem 0px;
}

.second-info {
    padding: 2.5rem 0px;
}

.title-section {
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 90px;
}

#presentacion {
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.pre-info {
    padding-top: 1.5rem;
    margin-bottom: 5rem;
}

.exp-info {
    margin-bottom: 5rem;
}

.info-body {
    padding-left: 4rem;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 190px;
}

.contact {
    display: flex;
    padding-left: 25px;
}

.aboutme {
    color: #212529;
    font-weight: bold;
    padding: 1rem 0px 1.2rem 0px;
}

.social {
    margin-left: 10px;
    margin-right: 10px;
}

.contact p {
    margin: 0px 10px 0px 10px;
}

.list {
    padding-left: 0;
}

.icons {
    margin-left: 3px;
}

.list li {
    padding: 3px 0 3px 0px;
}

li {
    list-style-type: none;
}

i {
    font-size: 1.7rem;
    color: #333333;
}

.proy-item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1em;
    margin-bottom: 5rem;
}

.proy-banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.proy-banner img {
    width: 130px;
    height: 130px;
}

.proy-info {
    display: block;
    align-items: flex-start;
    justify-self: flex-start;
}

.proy-info p {
    margin-top: 0px;
}

.proy-info a {
    color: #333333;
}

.proy-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
}

@media only screen and (max-width:550px) {
    
}